
html
  head
    title Amit Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.jpg")
                | HDA
            li #[a(href="/") Home]  
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contat Us]
    block content
    footer#footer
        | Copyright 2024 © AmitdanceAcademy.com |All rights reserved